{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h3>Area :</h3>
        <ul id="dropArea" class="dropdown-content teal">
            <li><a class="white-text" href="#">Introduccion a la programacion</a></li>
        </ul>
        <ul class="left hide-on-med-and-down">
            <li class="active">
                <a class="dropdown-button" href="#!" data-activates="dropArea"><i class="material-icons left">view_headline</i></a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="row">

            <div class="col s6 m4 l3">
                <div class="card medium transparent">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="imajenes/cuartoPepitasLuminosas.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator yellow-text text-darken-4">Tipo de pregunta<i class="material-icons right">visibility</i></span>
                        <p><a href="#">Formulario</a></p>
                    </div>
                    <div class="card-reveal small ">
                        <span class="card-title yellow-text text-darken-4">Tipo de pregunta<i class="material-icons right">visibility_off</i></span>
                        <p>Descripcion del tipo de pregunta</p>
                        <a href="#">Formulario</a>
                    </div>
                </div>
            </div>

            <div class="col s6 m4 l3">
                <div class="card medium transparent">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="imajenes/cieloRayos.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator yellow-text text-darken-4">Tipo de pregunta<i class="material-icons right">visibility</i></span>
                        <p><a href="#">Formulario</a></p>
                    </div>
                    <div class="card-reveal small">
                        <span class="card-title yellow-text text-darken-4">Tipo de pregunta<i class="material-icons right">visibility_off</i></span>
                        <p>descripcion del tipo de pregunta.</p>
                        <a href="#">Formulario</a>
                    </div>
                </div>
            </div>

            <div class="col s6 m4 l3">
                <div class="card medium transparent">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="imajenes/pregunta3.PNG">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Tipo de pregunta<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">Formulario</a></p>
                    </div>
                    <div class="card-reveal small">
                        <span class="card-title grey-text text-darken-4">Tipo de pregunta<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        <a href="#">Formulario</a>
                    </div>
                </div>
            </div>

            <div class="col s6 m4 l3">
                <div class="card medium transparent">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="imajenes/pregunta2.PNG">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Tipo de pregunta<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">TFormulario</a></p>
                    </div>
                    <div class="card-reveal small">
                        <span class="card-title grey-text text-darken-4">Tipo de pregunta<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        <a href="#">Formulario</a>
                    </div>
                </div>
            </div>

            <div class="col s6 m4 l3">
                <div class="card medium transparent">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="imajenes/pregunta1.PNG">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">tipo de pregunta<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">Formulario</a></p>
                    </div>
                    <div class="card-reveal small">
                        <span class="card-title grey-text text-darken-4">tipo de pregunta<i class="material-icons right">close</i></span>
                        <p>Descripcion del tipo de pregunta</p>
                        <a href="#">Formulario</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
