{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="teal-text lighten-4">Seleccione el tipo de pregunta</h3>
    {#}
    <ul>
        {% for type in types %}
            <li>
                <a href="{{type.id_type}}"> {{ type.name_type }}</a>
            </li>
            <option value=></option>
        {% endfor %}
        /*
            para tod@s el id se tendria que recuperar de la base de datos 
            y comparar con los tipos bien definidos a menos que ingresemos una URL 
            dentro la tabla de tipos
        */
    </ul>#}
    <br>
    <div class="row">
    <div class="col s12">
    <div class="col s4 alight center">
    
    <a href="openQuestion/1">
        <IMG SRC="http://www.construyehogar.com/wp-content/uploads/2015/06/Dise%C3%B1o-de-casa-moderna-de-dos-plantas.jpg"  WIDTH=250 HEIGHT=300 BORDER=5  title="PREGUNTA TIPO: ABIERTA" align="middle"> </a>
      </div>
      <div class="col s4 alight center">
        <a href="fileQuestion/3">
        <IMG SRC="http://www.construyehogar.com/wp-content/uploads/2015/06/Dise%C3%B1o-de-casa-moderna-de-dos-plantas.jpg"  WIDTH=250 HEIGHT=300 BORDER=5  title="PREGUNTA TIPO: SUBIR ARCHIVO " align="middle"> </a>
      </div>
      <div class="col s4 alight center">
    <a href="trueFalseQuestion/4">
        <IMG SRC="http://www.construyehogar.com/wp-content/uploads/2015/06/Dise%C3%B1o-de-casa-moderna-de-dos-plantas.jpg"  WIDTH=250 HEIGHT=300 BORDER=5  title="PREGUNTA TIPO: VERDADERO Y FALSO " align="middle"> </a>
      </div>
      </div>
      </div>

      <div class="row">
    <div class="col s12">
    <div class="col s4 alight center">
    <a href="uniqueAnswerQuestion/5">
        <IMG SRC="http://www.construyehogar.com/wp-content/uploads/2015/06/Dise%C3%B1o-de-casa-moderna-de-dos-plantas.jpg"  WIDTH=250 HEIGHT=300 BORDER=5  title="PREGUNTA TIPO: RESPUESTA SIMPLE" align="middle"> </a>
      </div>
      <div class="col s4 alight center">
        <a href="multipleQuestion/6">
        <IMG SRC="http://www.construyehogar.com/wp-content/uploads/2015/06/Dise%C3%B1o-de-casa-moderna-de-dos-plantas.jpg"  WIDTH=250 HEIGHT=300 BORDER=5  title="PREGUNTA TIPO: RESPUESTA MULTIPLE" align="middle"> </a>
      </div>
      <div class="col s4 alight center">
    <a href="matchingQuestion/7">
        <IMG SRC="http://www.construyehogar.com/wp-content/uploads/2015/06/Dise%C3%B1o-de-casa-moderna-de-dos-plantas.jpg"  WIDTH=250 HEIGHT=300 BORDER=5  title="PREGUNTA TIPO: EMPAREJAMIENTO " align="middle"> </a>
      </div>
      </div>
      </div>

<div class="row">
    <div class="col s12">
    <div class="col s4 alight center">
    <a href="orderQuestion/2">
        <IMG SRC="http://www.construyehogar.com/wp-content/uploads/2015/06/Dise%C3%B1o-de-casa-moderna-de-dos-plantas.jpg"  WIDTH=250 HEIGHT=300 BORDER=5  title="PREGUNTA TIPO: ORDENAMIENTO" align="middle"> </a>
      </div>
      <div class="col s4 alight center">
        <a href="wordCompletionQuestion/8">
        <IMG SRC="http://www.construyehogar.com/wp-content/uploads/2015/06/Dise%C3%B1o-de-casa-moderna-de-dos-plantas.jpg"  WIDTH=250 HEIGHT=300 BORDER=5  title="PREGUNTA TIPO: COMPLETAR PALABRA" align="middle"> </a>
      </div>
      <div class="col s4 alight center">
    <a href="TFRamillete/9">
        <IMG SRC="http://www.construyehogar.com/wp-content/uploads/2015/06/Dise%C3%B1o-de-casa-moderna-de-dos-plantas.jpg"  WIDTH=250 HEIGHT=300 BORDER=5  title="PREGUNTA TIPO: RAMILLETE VERDADERO/FALSO " align="middle"> </a>
      </div>
      </div>
      </div>


    <br>

      

    <ul>
        <li>

          <div class="col ">
                <a class="waves-effect waves-light btn" href={{ path('question_index') }}>Banco de Preguntas</a>
            </div>
            
        </li>
    </ul>
{% endblock %}


