{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seleccione el tipo de pregunta</h1>
    {#}
    <ul>
        {% for type in types %}
            <li>
                <a href="{{type.id_type}}"> {{ type.name_type }}</a>
            </li>
            <option value=></option>
        {% endfor %}
        /*
            para tod@s el id se tendria que recuperar de la base de datos 
            y comparar con los tipos bien definidos a menos que ingresemos una URL 
            dentro la tabla de tipos
        */
    </ul>#}

    <ul>
        <li>
            <a href="openQuestion/1"> pregunta abierta </a>
        </li>
        <li>
            <a href="fileQuestion/3"> pregunta subir archivo </a>
        </li>
        <li>
            <a href="trueFalseQuestion/4"> pregunta verdadero falso </a>
        </li>
        <li>
            <a href="uniqueAnswerQuestion/5"> Pregunta respuesta unica </a>
        </li>
        <li>
            <a href="multipleQuestion/6"> Pregunta respuesta multiple </a>
         <li>
            <a href="matchingQuestion/7"> pregunta de emparejamiento </a>
        </li>
    </ul>

    <ul>
        <li>
            <a href="{{ path('question_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
