{% extends 'base.html.twig' %}

{% block body %}

    <div class="center-align">
        <h6><b>Los datos de la fecha de examen y de inscripcion, son inconsistentes, porfavor modifiquelos</b></h6>
    </div>
    <div align="center">
  		<input class="btn waves-effect waves-light"  type="button" value="VOLVER A EDITAR" name="Back2" onclick="history.back()" />
  	</div>

{% endblock %}
