{% extends 'base.html.twig' %}

{% block body %}

    <div class="center-align">
        <h6>Los Datos De la Fecha de examen y de inscrpcion, son inconsistentes, porfavor modifiquelos</h6>
    </div>
    <div align="center">
  		<input class="btn waves-effect waves-light"  type="button" value="VOLVER A EDITAR" name="Back2" onclick="history.back()" />
  	</div>

{% endblock %}
