{% extends 'base.html.twig' %}

{% block body %}

 <div id="modal1" class="modal">
    <div class="modal-content">
      {#<h4>Modal Header</h4>#}
      {#<p>A bunch of text</p>#}

    <h1>Creacion de area</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" />
    {{ form_end(form) }}1

{% endblock %}

