{% extends 'base.html.twig' %}
{% block body %}
	<h3>Crear pregunta Abierta con respuesta parrafo</h3>
    <form action="openQuestion/new" method="GET">
    	<label>Area: </label>
    	<div class="input-field col s12">
    	<select>
    		{% for area in areas %}
    		<option>{{ area.nameArea }}</option>
    		{% endfor %}
    	</select>
    	</div>
    	<label>Enunciado:</label>
    	<input type="text" name="statementQuestion">
    	<input type="submit" value="Guardar">
    </form>
{% endblock %}