{% extends 'base.html.twig' %}
{% block title %} Crear pregunta {% endblock %}
{% block body %}
	<h4>Pregunta abierta con respuesta párrafo: </h4>
	<div class="row">
    <form action="openQuestion/new" method="POST" class="col s12">
    	<div class="input-field col s11">
    	<select name="area">
    		<option value="" disabled selected>Sin area</option>
    		{% for area in areas %}
    		<option value={{area.idArea}}>{{ area.nameArea }}</option>
    		{% endfor %}
    	</select>
    	<label>Area: </label>
    	<a class="btn-floating btn-short waves-effect waves-light pink" style="bottom: 45px; right: -810px;" href="/area/new"><i class="material-icons right">add</i></a>
    	</div>

	      <div class="row">
	        <div class="input-field col s12">
	          <textarea id="textarea1" class="materialize-textarea" name="statementQuestion"></textarea>
	          <label for="textarea1">Enunciado</label>
	        </div>
	      </div>

	    <div class="file-field input-field">
	      <div class="btn">
	        <span>Subir imagen</span>
	        <input type="file" name="image">
	      </div>
	      <div class="file-path-wrapper">
	        <input class="file-path validate" type="text" name="pathImageQuestion">
	      </div>
	    </div>

	      <button class="btn waves-effect waves-light center" type="submit" name="action">Guardar
		    <i class="material-icons center">send</i>
		  </button><br>
    </form>
    </div>
{% endblock %}