<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('http://fonts.googleapis.com/icon?family=Material+Icons') }}" rel="stylesheet" />
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
         <!-- Compiled and minified CSS -->
       {%- include "MaterializeBundle:Materialize:css.html.twig" -%}
    </head>
    <body  style ="background-color:#B2DFDB;">
        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.0.0.min.js') }}" type="text/javascript"></script>
            <script src="{{asset('js/materialize.min.js')}}" type="text/javascript" ></script>
            <script>$(".dropdown-button").dropdown();</script>
            <script>$(".dropdown-collapse").sideNav();</script>
            <script>$(document).ready(function() {
                    $('select').material_select();});
            </script>
        {% endblock %}
        <ul id="dropfunctions" class="dropdown-content teal">
            <li><a class="white-text" href="/test">Crear Examenes</a></li>
            <li><a class="white-text" href="#">Crear Preguntas</a></li>
            <li><a class="white-text" href="/openQuestion">Pregunta Abierta</a></li>
        </ul>
        <nav >
            <div class="nav-wrapper teal ">
                <a href="#" class="brand-logo center"><b>Evaluaciones En Linea</b></a>
                <ul class="left hide-on-med-and-down">
                    <li class="active">
                        <a class="dropdown-button" href="#!" data-activates="dropfunctions"><i class="material-icons left">view_headline</i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block body %}

            {% endblock %}
        </div>

        <footer class="page-footer teal">
            <div class="footer-copyright">
                <div class="container">
                    © 2016 Copyright DevSoft
                    <a class="grey-text text-lighten-4 right" href="#!"></a>
                </div>
            </div>
        </footer>
    </body>
</html>
