  {% for ans in question['answers'] %}
      <div class="row">
          <div class="col s12">
              <div class="col s10">
                <pre>{{ ans.content }}</pre>
              </div>
                <div class="input-field col s2">
                <p><input class="with-gap" name="check{{ans.idAnswerElement}}" value="1" type="checkbox" id="test{{ans.idAnswerElement}}">
                <label class="teal-text lighten-4" for="test{{ans.idAnswerElement}}">Correcta</label></p>
                
              </div>
          </div>
      </div>
  {% endfor %}