<div class="row">
    <div class="row">
            {#<div class="col s7">
                <label class="teal-text darken-4"><h6>Elementos de Respuesta :</h6></label>
            </div>
            <div class="col s2">
                <label class="teal-text darken-4"><h6>Secuencia de orden :</h6></label>
            </div>#}
            {% for ans in question['answers'] %}
            <div class="col s12">
                <div class="col s7">
                <pre>{{ ans.content }}</pre>
                </div>
                <div class="col s2">
                <select name="select{{ans.idAnswerElement}}">
                  <option value="" selected>Seleccione</option>
                  {% for i in range(1,(question['answers']|length)) %}
                  <option value="{{i}}">{{ i }}</option>
                  {% endfor %}
                </select>
                </div>
            </div>
            {% endfor %}
    </div>
</div>